<div >
  <div class="card">
    <div class="card-header">
      <h5>Stage details</h5>
    </div>
    <form (ngSubmit)="saveDetails()">
      <div class="card-block">


        <div class="form-group row">
            <label class="col-sm-2 form-control-label" for="name">Name</label>
            <div class="col-sm-10">
                  <input type="text" ngModel class="form-control" required
                    [(ngModel)]="model.Name" name="name"
                      placeholder="Enter stage title">
                  </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 form-control-label" for="name">Description</label>
            <div class="col-sm-10">
                  <textarea class="form-control" rows="3"
                    [(ngModel)]="model.Description" #desc="ngModel" name="desc"
                      placeholder="Enter stage description"></textarea>
            </div>
          </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="text-muted">{{messages.details}}</a>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="card-header">
      Datafields
    </div>

    

    
    <div class="card-block">      
        <div class="card-group">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">Available Fields</div>
                    <div class="list-group" style="min-height: 50px;" dnd-sortable-container [sortableData]="availableFields" [dropZones]="['datafields']">
                        <div *ngFor="let field of availableFields; let i = index" class="list-group-item" 
                            dnd-sortable [dragEnabled]="true" [dragData]="field" [sortableIndex]="i" (onDropSuccess)="dropToAvailable($event)">
                              {{field.Name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="card-title">Visible Fields</div>
                    <div class="list-group" style="min-height: 50px;" dnd-sortable-container [sortableData]="visibleFields" [dropZones]="['datafields']">
                        <div *ngFor="let field of visibleFields; let i = index" class="list-group-item" 
                            dnd-sortable [dragEnabled]="true" [dragData]="field" [sortableIndex]="i" (onDropSuccess)="dropToVisible($event)">
                              {{field.Name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <div class="card-title">Requested Fields</div>
                    <div class="list-group" style="min-height: 50px;" dnd-sortable-container [sortableData]="requestedFields" [dropZones]="['datafields']">
                        <div *ngFor="let field of requestedFields; let i = index" class="list-group-item" 
                            dnd-sortable [dragEnabled]="true" [dragData]="field" [sortableIndex]="i" (onDropSuccess)="dropToRequested($event)">
                              <div>{{field.Name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <p class="text-muted">
        Here you can drag-and-drop data fields.
        The available fields are all the fields you have available in this study.
        The visible fields are those data that will be displayed to the user.
        The requested fields are those data that the researcher will be promoted to edit.
        You can add more data fields in the study configuration tab.
      </p>
    </div>
    <div class="card-footer">
      <a (click)="saveDatafields()" class="btn btn-primary">Save</a>
      <a (click)="resetDatafields()" class="btn btn-secondary">Reset</a>
      <a class="text-muted" >{{messages.datafields}}</a>      
    </div>
  </div>
  <review-strategy></review-strategy>
  


  <div class="card">
    <div class="card-header">
      Validation strategy
    </div>
  </div>
</div>