<div *ngIf="Field.Options.length <= 5">
  <div class="btn-group" data-toggle="buttons">
    <div [ngClass]="{disabled:!Field.Input}" *ngFor="let Option of Field.Options">
      <label class="btn btn-primary">
        <input type="radio" name="options" id="{{Data.Id}}" autocomplete="off" > {{Option}}
      </label>
    </div>
  </div>
</div>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
  </label>
</div>



<div *ngIf="Field.Options.length > 5">
  <select class="form-control" [ngDisabled]="!Field.Input" [(ngModel)]="Data.Value" >
    <option *ngFor="let Option of Field.Options" [value]="Option">{{Option}}</option>
  </select>
</div>
