<div class="container-fluid">



    <div *ngIf='model != null' class="row">

        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header card-header-nospace">
                    Study
                    <a (click)="saveStudy(model)" class="btn btn-primary btn-sm pull-right">Save</a>
                </h3>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"
                        [class.selected]="!selected"
                        (click)="onSelect(undefined)">
                        <h4 class="list-group-item-heading">
                            {{model.StudyDetails.Name ? model.StudyDetails.Name : "New Study"}}
                        </h4>
                        <p class="list-group-item-text">{{model.StudyDetails.Description ? model.StudyDetails.Description : "..."}}</p>
                    </li>

                    <h3 class="card-header card-header-nospace">
                    Stages
                    </h3>
                    <li *ngIf="model.Stages != null && model.Stages.length == 0" class="list-group-item">add a new stage!</li>
                    <li class="list-group-item" 
                        *ngFor="let stage of model.Stages; let i = index"
                        [class.selected]="stage === selected"
                        (click)="onSelect(stage)">
                            <div class="tag tag-default tag-pill pull-xs-right">
                                <div>
                                    <i (click)="removeStage(i)" class="fa fa-times" tooltip="remove stage" tooltipPlacement="left" aria-hidden="true"></i> 
                                </div>
                                <div>
                                    <i (click)="cloneStage(stage)" class="fa fa-clone" tooltip="clone stage" tooltipPlacement="left" aria-hidden="true"></i> 
                                </div>
                            </div>                        
                        
                            <h4 class="list-group-item-heading">{{stage.StageDetails.Name ? stage.StageDetails.Name : "New stage"}}</h4>
                            <p class="list-group-item-text">{{stage.StageDetails.Description ? stage.StageDetails.Description : "..."}}</p>                 
                    </li>
                    
                </ul>
                <div class="card-footer">
                     <button  (click)="addNewStage()" type="button" class="btn pull-right btn-primary-outline">
                         <i class="fa fa-plus" aria-hidden="true"></i> Stage</button>
                     <div *ngIf="loading" class="loading">loading</div>
                </div>
            </div>

            <div *ngIf="start.Show" class="card">
                <div class="card-block">
                    <div class="col-md-2">
                        <div *ngIf="start.Loading" class="loading"></div>
                    </div>
                    {{start.Msg}}
                    <div class="col-md-1"></div>
                                    
                            
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <app-stageconfig *ngIf(selected) [model]="selected" [availableFields]="model.AvailableFields"></app-stageconfig>
            <app-studyconfig *ngIf(!selected) [model]="model.StudyDetails"></app-studyconfig>
        </div>
    </div>
</div>


