<md-card>
  <md-card-title>
    <h5 class="col-sm-3">Data Field Editor</h5>
    <div class="col-sm">
      <button type="button" class="btn btn-primary" (click)="save()" label="Save fields">Save fields</button>
    </div>
  </md-card-title>
</md-card>

<div class="row">
  <div class="col-sm-6">
    <md-card>
      <md-card-title class="row">
        <h5 class="col-sm-10">Fields</h5>
        <div class="col-sm">
          <a (click)="addNewField()" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a>
        </div>
      </md-card-title>
      <md-card-content>
        <div>
          <a *ngIf="fields.length == 0"> You have no fields... </a>
          <button (click)="selection = field" style="margin:5px;" *ngFor="let field of fields" [class.btn-primary]="field === selection"
            class="btn">{{field.Name}}</button>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="col-sm-6" *ngIf="selection">
    <md-card>
      <md-card-content>
        <dl class="row">
          <dl class="col-sm-4">
            <p><strong>Field title:</strong></p>
          </dl>
          <dd class="col-sm">
            <input type="text" pInputText [(ngModel)]="selection.Name" />
          </dd>
        </dl>
        <dl class="row">
          <dl class="col-sm-4">
            <p><strong>Field Type:</strong></p>
          </dl>
          <dd class="col-sm">
            <p-radioButton class="mute" [disabled]="true" name="groupname" label="String" value="0" [(ngModel)]="selection.DataType"></p-radioButton>
          </dd>
          <dd class="col-sm">
            <p-radioButton name="groupname" label="Number" value="4" [(ngModel)]="selection.DataType"></p-radioButton>
          </dd>
          <dd class="col-sm offset-sm-4">
            <p-radioButton class="mute" [disabled]="true" name="groupname" label="Radio Button" value="2" [(ngModel)]="selection.DataType"></p-radioButton>
          </dd>
          <dd class="col-sm offset-sm-4">
            <p-radioButton name="groupname" label="Boolean" value="1" [(ngModel)]="selection.DataType"></p-radioButton>
          </dd>
          <dd class="col-sm offset-sm-4">
            <p-radioButton class="mute" [disabled]="true" name="groupname" label="Checkbox" value="3" [(ngModel)]="selection.DataType"></p-radioButton>
          </dd>
          <dd class="col-sm offset-sm-4">
            <p-radioButton class="mute" [disabled]="true" name="groupname" label="PDF Resource" value="6" [(ngModel)]="selection.DataType"></p-radioButton>
          </dd>
        </dl>
      </md-card-content>
    </md-card>
  </div>
</div>

<!--
<md-card>
  <md-card-content>
    <div class="col-sm-6">

      <p *ngIf="fields.length == 0">You have no custom fields yet...</p>
      <ul class="list-group list-group-flush">
        <li *ngFor="let field of fields" [class.selected]="field === newField" [class.selected] class="list-group-item" (click)="selectField(field)">
          <span *ngIf="field.Type == dataTypes.Boolean" class="tag tag-default tag-pill pull-xs-right">Boolean</span>
          <span *ngIf="field.Type == dataTypes.String" class="tag tag-default tag-pill pull-xs-right">String</span>
          <span *ngIf="field.Type == dataTypes.Radio" class="tag tag-default tag-pill pull-xs-right">Radio</span>
          <span *ngIf="field.Type == dataTypes.Checkbox" class="tag tag-default tag-pill pull-xs-right">Checkbox</span>
          <p class="list-group-item-text">{{field.Name}}</p>
        </li>
      </ul>
    </div>


    <div *ngIf="newField" class="col-sm-6">
      <div class="card-block">

      </div>
      <div [ngSwitch]="newField.Type" class="card-block">
        <div *ngSwitchCase="dataTypes.Radio">
          Options:
          <ul>
            <li *ngFor="let option of newField.Options; let i = index">
              <input type="text" pInputText [(ngModel)]="newField.Options[i].value" />
            </li>
          </ul>
          <button type="button" pButton (click)="newField.Options.push({value:''})" icon="fa-plus" label="Add option"></button>
        </div>
        <div *ngSwitchCase="dataTypes.Boolean">
        </div>
        <div *ngSwitchCase="dataTypes.Checkbox">
        </div>
      </div>
      <div class="card-block">
        <h4>Field preview</h4>
        <div class="col-sm-2">
          <b>{{newField.Name}}</b>
        </div>
        <div class="col-sm-4">
          <field [field]="newField" [data]="{}"></field>
        </div>

      </div>


    </div>
  </md-card-content>

</md-card>-->