<div class="card">
  <div class="card-block">
    <h4 class="card-title">Your Studies</h4>
    <ul class="list-group list-group-flush">
      <li *ngFor="let studyDetail of studyDetails" class="list-group-item">
        <div class="row">
          <div class="col-sm-8">
            <h5 class="list-group-item-heading">{{studyDetail.Name}}</h5>
            <p class="list-group-item-text">{{studyDetail.Description}}</p>
          </div>
          <div class="col-sm-4 btn-group-vertical">
            <button (click)="continueStudy(studyDetail.Id)" class="btn btn-primary">Continue</button>
            <button (click)="studyConfig(studyDetail.Id)" class="btn">Study config</button>
          </div>
        </div>
      </li>
  </ul>
  </div>
</div>
