<div class="card">
  <div class="card-header">
    <b>Your studies</b>
    <button (click)="newStudy()" type="button" class="btn btn-sm btn-success pull-right"><i class="fa fa-plus"></i> New Study</button>
  </div>
  <div class="card-block">
    <div *ngIf="studyDetails.length == 0">
      you don't have any studies...
    </div>
    <ul *ngIf="studyDetails.length > 0" class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let studyDetail of studyDetails" >
        
        <div class="row">
          <div class="col-sm-10">
            <a [routerLink]="['study/'+studyDetail.Id+'/tasks']" class="list-group-item">{{studyDetail.Name}}</a>
          </div>
          <div class="col-sm-2">
            <a [routerLink]="['study/'+studyDetail.Id+'/config']" class="btn btn-default"><i class="fa fa-wrench"></i></a>
          </div>
        </div>
      </li>
  </ul>
  </div>
</div>

