<!-- ng2-dnd broken as of RC6. Needs shared module. see https://github.com/akserg/ng2-dnd/issues/57 -->
<div class="card-block">      
    <div class="card-group">
        <div class="card">
            <div class="card-block">
                <div class="card-title">Available Fields</div>
                <div class="list-group" style="min-height: 50px;" dnd-sortable-container [sortableData]="model.AvailableFields" [dropZones]="['datafields']">
                    <div *ngFor="let field of model.AvailableFields; let i = index" class="list-group-item" 
                        dnd-sortable [dragEnabled]="true" [dragData]="field" [sortableIndex]="i">
                            {{field.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <div class="card-title">Visible Fields</div>
                <div class="list-group" style="min-height: 50px;" dnd-sortable-container [sortableData]="model.VisibleFields" [dropZones]="['datafields']">
                    <div *ngFor="let field of model.VisibleFields; let i = index" class="list-group-item" 
                        dnd-sortable [dragEnabled]="true" [dragData]="field" [sortableIndex]="i">
                            {{field.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <div class="card-title">Requested Fields</div>
                <div class="list-group" style="min-height: 50px;" dnd-sortable-container [sortableData]="model.RequestedFields" [dropZones]="['datafields']">
                    <div *ngFor="let field of model.RequestedFields; let i = index" class="list-group-item" 
                        dnd-sortable [dragEnabled]="true" [dragData]="field" [sortableIndex]="i">
                            <div>{{field.Name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="text-muted">
    Here you can drag-and-drop data fields.
    The available fields are all the fields you have available in this study.
    The visible fields are those data that will be displayed to the user.
    The requested fields are those data that the researcher will be promoted to edit.
    You can add more data fields in the study configuration tab.
    </p>
</div>
<div class="card-footer">
    <a (click)="resetDatafields()" class="btn btn-secondary">Reset</a>
    <a class="text-muted" >{{messages.datafields}}</a>      
</div>
