<div class="card">
  <div class="card-header">
    <h5> Review details (title, description and research questions)</h5>
  </div>
  <div class="card-block">

    <fieldset class="form-group">
      <!--<label for="titleInput">Title</label>-->
      <input type="text" class="form-control" id="titleInput" placeholder="Enter study title">
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="descriptionInput">Description</label>-->
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter study description"></textarea>
    </fieldset>
  </div>
  <div class="card-footer">
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Selection Criteria
  </div>
</div>

<div class="card">
  <div class="card-header">
    Review strategy
  </div>
  <div class="card-block">

    <!--<input type="range" min="10" max="1000" step="10" />-->

    <div class="container-fluid">
      <dl class="dl-horizontal">

        <dt class="col-sm-2 text-truncate">All</dt>
        <!--<dd class="col-sm-10"><progress class="progress" value="100" max="100">0%</progress></dd>-->
        <dd class="col-sm-10">
          <div class="meter">
            <span class="selected" style="width: 100%; margin-left: 0">100%</span>
          </div>
        </dd>

        <dt class="col-sm-2 text-truncate">Jacob</dt>
        <dd class="col-sm-10">
          <div class="meter">
            <span class="selected" style="width: 50%">50%</span>
            <span style="width: 50%"></span>
          </div>
        </dd>

        <dt class="col-sm-2 text-truncate">Paolo</dt>
        <dd class="col-sm-10">
          <div class="meter">
            <span style="width: 50%"></span>
            <span class="selected" style="width: 50%">50%</span>
          </div>
        </dd>

        <dt class="col-sm-2 text-truncate">Mathias</dt>
        <dd class="col-sm-10">
          <div class="meter">
            <span style="width: 25%"></span>
            <span class="selected" style="width: 50%">50%</span>
            <span style="width: 25%"></span>
          </div>
        </dd>
      </dl>
    </div>
    <p class="text-muted">
      100% of the tasks are reviewed by 2 different researchers
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Validation strategy
  </div>
</div>

<div class="card">
  <div class="card-header">
    Sources
  </div>
</div>





{{phase}}
