<div class="container-fluid">
  <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Reviewit</a>
    <ul class="nav navbar-nav">
      <!--<li class="nav-item">
        <a class="nav-link" href="#" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>-->
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/list']">Tasks<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Sign in<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
