<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header card-header-nospace">
                    Study details
                </h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"
                        [class.active]="!selected"
                        (click)="onSelect(undefined)">
                        <h4 class="list-group-item-heading">
                            Study configuration
                        </h4>
                        <p class="list-group-item-text">Some text for the study.. bla. bla. bla</p>
                    </li>
                    <li class="list-group-item"
                        *ngFor="let phase of phases"
                        [class.active]="phase === selected"
                        (click)="onSelect(phase)">
                        <h4 class="list-group-item-heading">{{phase.name != "" ? phase.name : "New stage"}}</h4>
                        <p class="list-group-item-text">{{phase.description}}</p>
                    </li>
                </ul>
                <div class="card-footer">
                        <button [disabled]="disabled" (click)="startStudy()" type="button" class="btn btn-success">Start Study</button>
                              <div *ngIf="loading" class="loading">loading</div>
                    </div>
            </div>

        </div>
        <div class="col-md-8">
            <phase-config *ngIf(selected) [phase]="selected"></phase-config>
            <study-config *ngIf(!selected) [study]="study"></study-config>
        </div>
    </div>
</div>
