<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
<div [hidden]="!loading" class="loading">loading</div>
<div class="card" *ngFor="let stage of stages">
  <h3 class="card-header">
        <span class="menu">
            <button type="button" class="btn btn-danger-outline">
                Reset all <i class="fa fa-undo"></i>
            </button>
            <button type="button" class="btn btn-primary-outline">
                Submit all <i class="fa fa-refresh"></i>
            </button>
        </span>
    {{stage.Name}}
    <small class="text-muted">{{stage.Description}}</small>
  </h3>
  <div class="card-block card-text" *ngIf="stage.Tasks.length <= 0">
    No tasks have been generated yet...
  </div>

  <div class="card-block table" *ngIf="stage.Tasks.length > 0">
    <div class="row" >
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <th>#</th>
          <th *ngFor="let field of stage.Fields">{{field.Name}}</th>
          <th style="text-align:center;"><i class="fa fa-filter"></i></th>
          </thead>
          <tbody>
            
          <tr *ngFor="let task of stage.Tasks">
            <th>{{task.Id}}</th>
            <td *ngFor="let data of task.Data; let i = index">
              <field [field]="stage.Fields[i]" [data]="data"></field>
            </td>
            <td style="text-align:center;">
              <span [ngSwitch]="task.State">
                  <template [ngSwitchCase]="1"><span class="label label-default">new</span></template>
                  <template [ngSwitchCase]="2"><span class="label label-warning">in progress</span></template>
                  <template [ngSwitchCase]="3"><span class="label label-success">submitted</span></template>
                  <template ngSwitchDefault><span class="label label-danger">unknown</span></template>
              </span>
            </td>
          </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
