<div class="container" *ngIf="!userService.getUser">
    <div class="row text-sm-center col-sm-5 push-sm-4">
        <br>
        <br>
        <h1>Welcome to Reviewit</h1>
        <br>        
        <p class="lead">A tool for conducting systematic literature reviews</p>
    </div>
</div>

<div class="container" *ngIf="userService.getUser">
    <div class="col-md-6">
        <md-card>
            <md-card-content>Recent changes...</md-card-content>
        </md-card>
    </div>
    <div class="col-md-6">
        <app-studylist></app-studylist>
    </div>
</div>