<md-card *cardInit="obs">
  <md-card-title>
    <div class="col-sm-10">
      <h5>Your studies</h5>
    </div>
    <div class="col-sm">
      <a (click)="newStudy()" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a>
    </div>
  </md-card-title>
</md-card>

<md-card class="r-list" *ngFor="let studyDetail of model">
  <div class="col-sm-10 r-list-primary" [routerLink]="['task', 'study', studyDetail.Id]">
    <a>{{studyDetail.Name}}</a>
  </div>
  <div class="col-sm-2 r-list-secondary" [routerLink]="['config', studyDetail.Id, 'studydetails']">
    <span class="btn btn-sm btn-default"><i class="fa fa-wrench"></i></span>
  </div>
</md-card>