
<md-card>
    <div class="row">
        <div class="col-sm-3">
            <button [routerLink]="[{outlets: {'config': ['studydetails']}}]" class="btn">Study Details</button>
        </div>
        <div class="col-sm-3">
            <button [routerLink]="[{outlets: {'config': ['studysources']}}]" class="btn">Study Sources</button>
        </div>
        <div class="col-sm-3">
            <button [routerLink]="[{outlets: {'config': ['criteriaconfig']}}]" class="btn">Study Criteria</button>
        </div>
        <div class="col-sm-3">
            <button [routerLink]="[{outlets: {'config': ['stages']}}]" class="btn">Stages</button>
        </div>
    </div>
    <div>
    </div>
    <div style="height:20px;"></div>
</md-card>