<md-card>
    <div class="row">
        <div class="col-sm-3">
            <button [routerLink]="['studydetails']" class="btn">Study Details</button>
        </div>
        <div class="col-sm-3">
            <button [routerLink]="['studysources']" class="btn">Study Sources</button>
        </div>
        <div class="col-sm-3">
            <button [routerLink]="['criteriaconfig']" class="btn">Study Criteria</button>
        </div>
        <div class="col-sm-3">
            <button [routerLink]="['stagelist']" class="btn">Stages</button>
        </div>
    </div>
</md-card>

<router-outlet></router-outlet>