
<md-card>
    <button [routerLink]="['studydetails']" class="btn">Study Details</button>
    <button [routerLink]="['studysources']" class="btn">Study Sources</button>
    <button [routerLink]="['fieldeditor']" class="btn">Datafield Editor</button>
    <button [routerLink]="['criteriaconfig']" class="btn">Study Criteria</button>
    <!--<button [routerLink]="['members']" class="btn">Study Members</button>-->
    <button [routerLink]="['stagelist']" class="btn">Stages</button>
</md-card>

<router-outlet></router-outlet>