<div class="container-fluid">



    <div *ngIf='model != null' class="row">

        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header card-header-nospace">
                    Study
                    <button (click)="saveStudy(model)" class="btn btn-sm pull-sm-right btn-primary-outline"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                </h3>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item" [class.selected]="!selected" (click)="onSelect(undefined)">
                        <h4 class="list-group-item-heading">
                            {{model.Name ? model.Name : "New Study"}}
                        </h4>
                        <p class="list-group-item-text">{{model.Description ? model.Description : "..."}}</p>
                    </li>

                    <h3 class="card-header card-header-nospace">
                        Stages
                        <button (click)="addNewStage()" type="button" class="btn btn-sm pull-sm-right btn-primary-outline"><i class="fa fa-plus" aria-hidden="true"></i> Stage</button>
                    </h3>
                    <li *ngIf="model.Stages != null && model.Stages.length == 0" class="list-group-item">add a new stage!</li>
                    <li class="list-group-item col-sm-12" *ngFor="let stage of model.Stages; let i = index" [class.selected]="stage === selected"
                        (click)="onSelect(stage)">
                        <a class="col-sm-11">
                            <h4 class="list-group-item-heading">{{stage.Name ? stage.Name : "New stage"}}</h4>
                            <p class="list-group-item-text">{{stage.Description ? stage.Description : "..."}}</p>
                        </a>
                        <a class="col-sm-1">
                            <div>
                                <i (click)="removeStage(i)" class="fa fa-times" pTooltip="remove" tooltipPosition="left" aria-hidden="true"></i>
                            </div>
                            <div>
                                <i (click)="cloneStage(stage)" class="fa fa-clone" pTooltip="clone" tooltipPosition="left" aria-hidden="true"></i>
                            </div>
                        </a>

                    </li>
                </ul>
            </div>

            <div *ngIf="start.Show" class="card">
                <div class="card-block">
                    <div class="col-md-2">
                        <div *ngIf="start.Loading" class="loading"></div>
                    </div>
                    {{start.Msg}}
                    <div class="col-md-1"></div>


                </div>
            </div>

        </div>
        <div class="col-md-8">
            <app-stageconfig *ngIf(selected) [model]="selected" [availableFields]="model.AvailableFields"></app-stageconfig>
            <app-studyconfig *ngIf(!selected) [model]="model"></app-studyconfig>
        </div>
    </div>
</div>