body { padding-top: 70px; }

td{
	position:relative;
}

.ng-valid[required] {
	border: 1px solid #42A948; /* green */
}

.ng-valid {
	border: 1px solid grey; /* green */
}

.ng-invalid {
	border: 1px solid #a94442; /* red */
}

li.selected{
	background-color: #e6e6ff;
}

.ui-growl{
	padding-top:50px;
}

td textarea{
	position:absolute;
	top:10px;
	bottom:10px;
	left:0;
	right:0;
}

.card-block.table {
	border-top:none;
	padding-top:0px;
	margin-top:-9px;
	padding-bottom:0px;
	margin-bottom:0px;
}

.card-block.table table{
	padding-bottom:0px;
	margin-bottom:0px;
}

.card-header .menu{
	margin-left:20px;
	float:right;
	margin-top:-4px;
}

/* .card .card-header small{
white-space: nowrap;
width: 50% !important;
overflow: hidden !important;
text-overflow: ellipsis;
} */

table .max-lines{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.card-header.card-header-nospace {
	margin-bottom:0;
	border-bottom:none;
}

.card-header .label{
	position:relative;
	top:-3px;
	font-size:10pt;
}

.btn.btn-round {
	border-radius: 100%;
	padding: .375rem .75rem;
}

.form-group.row > .contains-select {
	padding: .375rem .75rem;
}

.form-group.row > .form-control-label {
	font-weight: bold;
}

/*.row.list-group-combined .list-group-item.list-group-item-header {
border-bottom: none;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.row.list-group-combined .list-group-item:not(.list-group-item-header) {
border-top-right-radius: 0;
border-top-left-radius: 0;
}*/


.row.list-group-combined .list-group-item.list-group-item-header {
	font-weight: bold;
	color: inherit;
	background-color: #f5f5f5;
}

.row.list-group-combined > div > .list-group >.list-group-item > i {
	float: right;
	padding-left: 1rem;
}


.row.list-group-combined .list-group > .list-group-item {
	font-size:.8rem;
	padding:.5rem;
}

/* Slider */

p-slider {
	border: none !important;
}

dd > p-slider > div.ui-slider-horizontal {
	margin-top: 7px;
	height: .6em;
}

dd > p-slider.read-only .ui-slider-handle {
	display: none;
}

dd > p-slider.read-only .ui-state-disabled {
	opacity: 1;
	filter:none;
}

/* Loading */

.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Login */

.login{
	max-width: 500px;
}
.signup{
	max-width: 500px;
}


@media (min-width: 62em) {
	.pdf-view {
		position:fixed;
		top: 54px;
		right: 0;
		left: 50%;
		bottom: 0;
		padding: 1rem;
	}

	.pdf-view object {
		width:100%;
		height:calc(100vh - 74px);
	}
}

