body { padding-top: 70px; }

td{
  position:relative;
}

td textarea{
  position:absolute;
  top:10px;
  bottom:10px;
  left:0;
  right:0;
}

.card-block.table {
  border-top:none;
  padding-top:0px;
  margin-top:-9px;
  padding-bottom:0px;
  margin-bottom:0px;
}

.card-block.table table{
  padding-bottom:0px;
  margin-bottom:0px;
}

.card-header .menu{
  margin-left:20px;
  float:right;
  margin-top:-4px;
}

/* .card .card-header small{
    white-space: nowrap;
    width: 50% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */

table .max-lines{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-header .label{
  position:relative;
  top:-3px;
  font-size:10pt;
}

.btn.btn-round {
  border-radius: 100%;
  padding: .375rem .75rem;
}

.meter {
  height: 1.5rem;
  position: relative;
  background: #eee;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}


.meter > span {

  display: block;
  float:left;
  height: 100%;

  position: relative;
  overflow: hidden;

  text-align: center;
  text-overflow: clip;
  line-height: 1.5rem;
  font-size:0.8rem;
}

.meter > span:first-child{
  color:#000000;
  background-color: #eee;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.meter > span:last-child{
  color:#000000;
  background-color: #eee;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.meter > span.selected {
  color: #FFF;
  background-color: #0074d9;
}


