<div class="container" *ngIf="!userService.isLoggedIn">
    <div class="row m-x-auto" style="min-height: 300px;">

        <br>
        <br>
        <h1>Welcome to Reviewit</h1>

    </div>

    <div class="row m-x-auto">

        <h4>Create a user or sign in to begin!</h4>

    </div>
</div>
<!--<div class="container" *ngIf="userService.isLoggedIn">-->
<div class="container">
    <div class="col-md-6">
        <p>Recent changes...</p>
    </div>
    <div class="col-md-6">
        <app-studylist></app-studylist>
    </div>
</div>