<div class="container" *ngIf="!userService.isLoggedIn">
    <div class="row m-x-auto" style="min-height: 300px;">
        <br>
        <br>
        <h1>Welcome to Reviewit</h1>
    </div>
    <div class="row m-x-auto">
        <h4>Create a user or sign in to begin!</h4>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <md-card>
            <md-card-content>Recent changes...</md-card-content>
        </md-card>
    </div>
    <div class="col-md-6">
        <app-studylist></app-studylist>
    </div>
</div>