<button type="button" class="btn btn-success" (click)="staticModal.show()" (click)="startStudy()">Start Study</button>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static', width: '50%'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Initiate Study</h4>
      </div>
      <div class="modal-body">
        <i [hidden]="!loading" class="fa fa-circle-o-notch fa-spin"></i>        
        {{model.Msg}}
      </div>
    </div>
  </div>
</div>