<md-card class="row">
    <button [disabled]="model?.Tasks?.indexOf(selected) <= 0" (click)="previous()" class="btn">Previous</button>
    <a>task {{model?.Tasks?.indexOf(selected)+1}} of {{model?.Tasks?.length}}</a>
    <button [disabled]="model?.Tasks?.indexOf(selected) >= model?.Tasks?.length-1" (click)="next()" class="btn btn-success pull-sm-right">Next</button>
</md-card>

<md-card *ngIf="selected">
    <md-card-title>
        Task #{{selected.Id}}
        <!--<div class="label" [ngSwitch]="selected.TaskState">
            <p *ngSwitchCase="taskState.New"><span class="label label-default">new</span></p>
            <p *ngSwitchCase="taskState.InProgress"><span class="label label-warning">in progress</span></p>
            <p *ngSwitchCase="taskState.Subnmitted"><span class="label label-success">submitted</span></p>
            <p *ngSwitchDefault><span class="label label-danger">unknown</span></p>
        </div>-->
    </md-card-title>
    <md-card-content class="row" *ngFor="let field of model.Fields; let i = index">
        <h5 class="col-sm-3">{{field.Name}}</h5>
        <field-dyn class="col-sm-9" [requested]="field.FieldType == 1" [field]="field" [data]="selected.Data[i]"></field-dyn>
    </md-card-content>
    <md-card-content>
        <div class="pdf-view hidden-md-down" *ngIf="resource">
            <object [data]="url" type="application/pdf">
                <p>It appears you don't have a PDF plugin for this browser.</p>
            </object>
        </div>
    </md-card-content>
    <md-card-actions>
        <button (click)="save(selected)" class="btn">Save</button>
    </md-card-actions>
</md-card>